<div class="container" id="u_0_2z">
    <div class="form-control col-md-6" style="height:100% ">
        <h6 class="accessible_elem">Комментарии</h6>
        <div >

                <div class="col-md-12">
                    <div class="">
                        <div class="">
                            <div >
                                <input class="_1osa mentionsHidden" name="add_comment_text" tabindex="-1">
                                <div >
                                    <div class="_5yk2" tabindex="-1">
                                        <div class="_5rp7">
                                            <div class="_1p1t">
                                                <div class="_1p1v" id="placeholder-blqjq" style="white-space: pre-wrap;">Написать комментарий</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                        <span class="fcg fss UFICommentTip">Нажмите «Enter», чтобы прокомментировать.</span>
            </div>

    </div>
</div>
