<form ng-submit="addComment()" class="col-md-12" style="margin-top: 50px">
    <a class="btn btn-info" href="#/views/home.html"><i class="icon-chevron-left">back</i></a>

    <p class="description"> {{ post.title }} </p>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Great comment here" ng-model="comment" style="width: 50%">

    </div>
    <button type="submit" class="btn btn-primary" ng-click="addComment(post)" >Add comment</button>
         <blockquote>
            <p ng-repeat="comment in post.comments track by $index">
                {{comment.user}}:{{comment.comments}} <br>
            </p>
         </blockquote>

</form>


